.form-templates-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.form-templates-text10 {
  display: inline-block;
}
.form-templates-text11 {
  display: inline-block;
}
.form-templates-text12 {
  display: inline-block;
}
.form-templates-text13 {
  display: inline-block;
}
.form-templates-text14 {
  display: inline-block;
}
.form-templates-text15 {
  display: inline-block;
}
.form-templates-text16 {
  display: inline-block;
}
.form-templates-text17 {
  display: inline-block;
}
.form-templates-text18 {
  display: inline-block;
}
.form-templates-text19 {
  display: inline-block;
}
.form-templates-text20 {
  display: inline-block;
}
.form-templates-text21 {
  display: inline-block;
}
.form-templates-text22 {
  display: inline-block;
}
.form-templates-text23 {
  display: inline-block;
}
.form-templates-text24 {
  display: inline-block;
}
.form-templates-text25 {
  display: inline-block;
}
.form-templates-text26 {
  display: inline-block;
}
.form-templates-text27 {
  display: inline-block;
}
.form-templates-text28 {
  display: inline-block;
}
.form-templates-text29 {
  display: inline-block;
}
.form-templates-text30 {
  display: inline-block;
}
.form-templates-text31 {
  display: inline-block;
}
.form-templates-text32 {
  display: inline-block;
}
