.intake-forms-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.intake-forms-text10 {
  display: inline-block;
}
.intake-forms-text11 {
  display: inline-block;
}
.intake-forms-text12 {
  display: inline-block;
}
.intake-forms-text13 {
  display: inline-block;
}
.intake-forms-text14 {
  display: inline-block;
}
.intake-forms-text15 {
  display: inline-block;
}
.intake-forms-text16 {
  display: inline-block;
}
.intake-forms-text17 {
  display: inline-block;
}
.intake-forms-text18 {
  display: inline-block;
}
.intake-forms-text19 {
  display: inline-block;
}
.intake-forms-text20 {
  display: inline-block;
}
.intake-forms-text21 {
  display: inline-block;
}
.intake-forms-text22 {
  display: inline-block;
}
.intake-forms-text23 {
  display: inline-block;
}
.intake-forms-text24 {
  display: inline-block;
}
.intake-forms-text25 {
  display: inline-block;
}
.intake-forms-text26 {
  display: inline-block;
}
.intake-forms-text27 {
  display: inline-block;
}
.intake-forms-text28 {
  display: inline-block;
}
.intake-forms-text29 {
  display: inline-block;
}
.intake-forms-text30 {
  display: inline-block;
}
.intake-forms-text31 {
  display: inline-block;
}
