.workflow-overview-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.workflow-overview-text10 {
  display: inline-block;
}
.workflow-overview-text11 {
  display: inline-block;
}
.workflow-overview-text12 {
  display: inline-block;
}
.workflow-overview-text13 {
  display: inline-block;
}
.workflow-overview-text14 {
  display: inline-block;
}
.workflow-overview-text15 {
  display: inline-block;
}
.workflow-overview-text16 {
  display: inline-block;
}
.workflow-overview-text17 {
  display: inline-block;
}
.workflow-overview-text18 {
  display: inline-block;
}
.workflow-overview-text19 {
  display: inline-block;
}
.workflow-overview-text20 {
  display: inline-block;
}
.workflow-overview-text21 {
  display: inline-block;
}
.workflow-overview-text22 {
  display: inline-block;
}
.workflow-overview-text23 {
  display: inline-block;
}
.workflow-overview-text24 {
  display: inline-block;
}
.workflow-overview-text25 {
  display: inline-block;
}
