.workflow-builder-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.workflow-builder-text10 {
  display: inline-block;
}
.workflow-builder-text11 {
  display: inline-block;
}
.workflow-builder-text12 {
  display: inline-block;
}
.workflow-builder-text13 {
  display: inline-block;
}
.workflow-builder-text14 {
  display: inline-block;
}
.workflow-builder-container2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.workflow-builder-text15 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
}
.workflow-builder-text16 {
  display: inline-block;
}
.workflow-builder-text17 {
  display: inline-block;
}
.workflow-builder-text18 {
  display: inline-block;
}
.workflow-builder-text19 {
  display: inline-block;
}
.workflow-builder-text20 {
  display: inline-block;
}
.workflow-builder-text21 {
  display: inline-block;
}
.workflow-builder-text22 {
  display: inline-block;
}
.workflow-builder-text25 {
  display: inline-block;
}
.workflow-builder-text26 {
  display: inline-block;
}
.workflow-builder-text27 {
  display: inline-block;
}
.workflow-builder-text28 {
  display: inline-block;
}
.workflow-builder-text29 {
  display: inline-block;
}
.workflow-builder-text30 {
  display: inline-block;
}
.workflow-builder-text31 {
  display: inline-block;
}
.workflow-builder-text32 {
  display: inline-block;
}
.workflow-builder-text33 {
  display: inline-block;
}
.workflow-builder-text34 {
  display: inline-block;
}
