.workflow3-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.workflow3-text10 {
  display: inline-block;
}
.workflow3-text11 {
  display: inline-block;
}
.workflow3-text12 {
  display: inline-block;
}
.workflow3-text13 {
  display: inline-block;
}
.workflow3-text14 {
  display: inline-block;
}
.workflow3-text15 {
  display: inline-block;
}
.workflow3-text16 {
  display: inline-block;
}
.workflow3-text17 {
  display: inline-block;
}
.workflow3-text18 {
  display: inline-block;
}
.workflow3-text19 {
  display: inline-block;
}
.workflow3-text20 {
  display: inline-block;
}
.workflow3-text21 {
  display: inline-block;
}
.workflow3-text22 {
  display: inline-block;
}
.workflow3-text23 {
  display: inline-block;
}
.workflow3-text24 {
  display: inline-block;
}
.workflow3-text25 {
  display: inline-block;
}
.workflow3-text26 {
  display: inline-block;
}
.workflow3-text27 {
  display: inline-block;
}
