.features33-layout253 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.features33-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
}
.features33-section-title {
  flex: 1;
  align-items: flex-start;
}
.features33-content1 {
  align-self: stretch;
  align-items: flex-start;
}
.features33-content2 {
  flex: 1;
}
.features33-list-item1 {
  align-items: center;
}
.features33-content3 {
  align-self: stretch;
}
.features33-title11 {
  text-align: center;
}
.features33-description11 {
  text-align: center;
}
.features33-content4 {
  align-self: stretch;
}
.features33-title12 {
  text-align: center;
}
.features33-description12 {
  text-align: center;
}
.features33-list2 {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.features33-content5 {
  align-self: stretch;
}
.features33-title13 {
  text-align: center;
}
.features33-description13 {
  text-align: center;
}
.features33-content6 {
  align-self: stretch;
}
.features33-title14 {
  text-align: center;
}
.features33-description14 {
  text-align: center;
}
.features33-text13 {
  display: inline-block;
}
.features33-text14 {
  display: inline-block;
}
.features33-text15 {
  display: inline-block;
}
.features33-text16 {
  display: inline-block;
}
.features33-text17 {
  display: inline-block;
}
.features33-text18 {
  display: inline-block;
}
.features33-text19 {
  display: inline-block;
}
.features33-text20 {
  display: inline-block;
}
.features33-text21 {
  display: inline-block;
}
.features33-text22 {
  display: inline-block;
}
.features33-text23 {
  display: inline-block;
}
.features33-text24 {
  display: inline-block;
}
.features33-text25 {
  display: inline-block;
}
@media(max-width: 991px) {
  .features33-layout253 {
    flex-direction: column;
  }
  .features33-max-width {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .features33-section-title {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .features33-actions {
    flex-wrap: wrap;
  }
}
@media(max-width: 479px) {
  .features33-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .features33-actions {
    width: 100%;
  }
  .features33-button1 {
    width: 100%;
  }
  .features33-button2 {
    width: 100%;
  }
  .features33-list1 {
    flex-direction: column;
  }
  .features33-list2 {
    flex-direction: column;
  }
}
