.features34-layout253 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.features34-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
}
.features34-section-title {
  flex: 1;
  align-items: flex-start;
}
.features34-content1 {
  align-self: stretch;
  align-items: flex-start;
}
.features34-content2 {
  flex: 1;
}
.features34-list-item1 {
  align-items: center;
}
.features34-content3 {
  align-self: stretch;
}
.features34-title11 {
  text-align: center;
}
.features34-description11 {
  text-align: center;
}
.features34-content4 {
  align-self: stretch;
}
.features34-title12 {
  text-align: center;
}
.features34-description12 {
  text-align: center;
}
.features34-list2 {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.features34-content5 {
  align-self: stretch;
}
.features34-title13 {
  text-align: center;
}
.features34-description13 {
  text-align: center;
}
.features34-content6 {
  align-self: stretch;
}
.features34-title14 {
  text-align: center;
}
.features34-description14 {
  text-align: center;
}
.features34-text13 {
  display: inline-block;
}
.features34-text14 {
  display: inline-block;
}
.features34-text15 {
  display: inline-block;
}
.features34-text16 {
  display: inline-block;
}
.features34-text17 {
  display: inline-block;
}
.features34-text18 {
  display: inline-block;
}
.features34-text19 {
  display: inline-block;
}
.features34-text20 {
  display: inline-block;
}
.features34-text21 {
  display: inline-block;
}
.features34-text22 {
  display: inline-block;
}
.features34-text23 {
  display: inline-block;
}
.features34-text24 {
  display: inline-block;
}
.features34-text25 {
  display: inline-block;
}
@media(max-width: 991px) {
  .features34-layout253 {
    flex-direction: column;
  }
  .features34-max-width {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .features34-section-title {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .features34-actions {
    flex-wrap: wrap;
  }
}
@media(max-width: 479px) {
  .features34-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .features34-actions {
    width: 100%;
  }
  .features34-button1 {
    width: 100%;
  }
  .features34-button2 {
    width: 100%;
  }
  .features34-list1 {
    flex-direction: column;
  }
  .features34-list2 {
    flex-direction: column;
  }
}
