.workflow4-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.workflow4-text10 {
  display: inline-block;
}
.workflow4-text11 {
  display: inline-block;
}
.workflow4-text12 {
  display: inline-block;
}
.workflow4-text13 {
  display: inline-block;
}
.workflow4-text14 {
  display: inline-block;
}
.workflow4-text15 {
  display: inline-block;
}
.workflow4-text16 {
  display: inline-block;
}
.workflow4-text17 {
  display: inline-block;
}
.workflow4-text18 {
  display: inline-block;
}
.workflow4-text19 {
  display: inline-block;
}
.workflow4-text20 {
  display: inline-block;
}
.workflow4-text21 {
  display: inline-block;
}
.workflow4-text22 {
  display: inline-block;
}
